@model IEnumerable<TurnyruSistema.Models.Komanda>

@{
    ViewData["Title"] = "Index";
}

<h2>Komandų sąrašas</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Laimejimai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pralaimejimai)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.pavadinimas)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.ElPastas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistracijosData)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Laimejimai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pralaimejimai)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.pavadinimas)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.ElPastas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistracijosData)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Peržiūrėti žaidėjus</a>

                </td>
            </tr>
        }
    </tbody>
</table>

@if (TempData["Message"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@TempData["Message"]");

            };
    </script>
    TempData.Remove("Message");
}
