@model TurnyruSistema.Models.Turnyras
@{
    ViewData["Title"] = "Details";
}
@*<h2>Details</h2>*@
<div>
    <h4>Turnyro duomenys</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pavadinimas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pavadinimas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vieta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vieta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PradziosData)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PradziosData)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PabaigosData)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PabaigosData)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Organizatorius)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Organizatorius.Id)
        </dd>
    </dl>

</div>
<div>
    <h4>Raundai</h4>
    <hr />
    @foreach (var raundas in Model.Raundai)
    {
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => raundas.Numeris)
                </dt>
                <dd>
                    @Html.DisplayFor(model => raundas.Numeris)
                </dd>
                @foreach (var zaidimas in raundas.Zaidimai)
                {
                    <div>
                        <dl>
                            <dt>
                                @Html.DisplayNameFor(model => zaidimas.Komanda1)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => zaidimas.Komanda1.pavadinimas)
                                <a asp-action="RegisterResult" asp-route-turnyrId="@Model.Id" asp-route-komandos1Id="@zaidimas.Komanda1Id" asp-route-komandos2Id="@zaidimas.Komanda2Id" asp-route-raundoId="@zaidimas.RaundasId">Laimėjo</a>

                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => zaidimas.Komanda2)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => zaidimas.Komanda2.pavadinimas)
                                <a asp-action="RegisterResult" asp-route-turnyrId="@Model.Id" asp-route-komandos1Id="@zaidimas.Komanda2Id" asp-route-komandos2Id="@zaidimas.Komanda1Id" asp-route-raundoId="@zaidimas.RaundasId">Laimėjo</a>

                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => zaidimas.Laikas)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => zaidimas.Laikas)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => zaidimas.LaimejusiKomanda)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => zaidimas.LaimejusiKomanda)
                            </dd>
                        </dl>
                    </div>
                }
            </dl>
        </div>
    }
</div>
<div>
    @if ((string)TempData["curUserType"] == "O")
    {
        TempData.Keep();
        <a asp-action="Edit" asp-route-id="@Model.Id">Redaguoti turnyrą |</a>
        <a asp-action="GenerateRound" asp-route-id="@Model.Id">Sukurti raundą |</a>
    }
    <a asp-action="Index">Grįžti</a>
</div>

@if (TempData["Message"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@TempData["Message"]");

            };
    </script>
    TempData.Remove("Message");
}
